body  {
	background: black;
}
body  {
	text-align: center;
	color: rgb(128,128,128);
	font-family: ;
}
li  {
	display: inline;
	padding: 0px 20px 0px 20px;
}
header {
	text-align: center;
	background-size: cover;
	background: url("https://lh3.google.com/u/0/d/0B3rVMdJD6kObeVMxZkxvSUlVRFU=w1920-h939-iv1");
	text-align: left;
	padding: 400px;
}
p {
	max-width: 500px;
	padding: 20px;
	margin: 0 auto;
}
h2{
	text-align: left;
	max-width: 500px;
	padding: 20px;
	margin: 0 auto;
}

